# I only want to track select files, so ignore everything, then selectively 
# un-ignore certain extensions, then extend that un-ignoring to all subfolders.

# ignore everything
*

# keep source files (including "inline" files) and ReadMe and shader files
!*.cpp
!*.h
!*.inl
!*.txt
!*.glsl

# we want to keep these around
!.gitignore
!.gitattributes

# keep solution and  project files and filters so we can see how they change 
# through the project
!*.sln
!*.vcxproj
!*.vcxproj.filters

# now unignore all sub-folders
!**/